{% macro href(target_url) %}
    {% spaceless %}
        {% if (target_url matches '/^(http|https|www)/i') %}
            href="{{ target_url }}" target="_blank"
        {% else %}
            href="{{ url(target_url) }}"
        {% endif %}
    {% endspaceless %}
{% endmacro %}
