<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7 {{'lng-'~language.language-}}" {{-html_attributes }}> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8 {{'lng-'~language.language-}}" {{-html_attributes }}> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9 {{'lng-'~language.language-}}" {{-html_attributes }}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js {{-'lng-'~language.language-}}" {{-html_attributes }}> <![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ head_title }}</title>
    {{ head }}
    {{ styles }}
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{{ page_top }}
{{ page }}  {#uses the page.tpl #}
{{ scripts }}
{{ page_bottom }}

</body>
</html>

