<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6 oldie" lang="{{language.language}}"><![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7 oldie" lang="{{language.language}}"><![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8 oldie" lang="{{language.language}}"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{language.language}}"> <!--<![endif]-->
<head>
  <title>{{head_title}}</title>
  {{head}}
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>

<body class="{{classes}}" {{attributes}}>
 <h1>{{title}}</h1>
 {{messages}}
 {{content}}
</body>
</html>


