{% if search_results %}
    <h2>{{ 'Search results|t' }}</h2>
    <section class="search-results {{ module }}-results">
        {{ search_results }}
    </section>
    {{ pager }}
{% else %}
    <h2><{{ 'Your search yielded no results'|t }}</h2>
{% endif %}
